<mat-toolbar class="app-header">
  <div class="header-container">
    <div class="logo-section">
      <mat-icon class="logo-icon">local_dining</mat-icon>
      <span class="logo-text" routerLink="/">FoodDelivery</span>
    </div>

    <div class="search-section">
      <input
        type="text"
        placeholder="Search restaurants, food..."
        class="search-input"
        (input)="onSearch($event)"
      />
      <mat-icon>search</mat-icon>
    </div>

    <div class="nav-section">
      <button mat-icon-button routerLink="/cart" [matBadge]="(cartCount$ | async)" matBadgeSize="small">
        <mat-icon>shopping_cart</mat-icon>
      </button>

      <ng-container *ngIf="isAuthenticated$ | async">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item routerLink="/orders">
            <mat-icon>assignment</mat-icon>
            <span>My Orders</span>
          </button>
          <button mat-menu-item routerLink="/favorites">
            <mat-icon>favorite</mat-icon>
            <span>Favorites</span>
          </button>
          <button mat-menu-item routerLink="/settings">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="!(isAuthenticated$ | async)">
        <button mat-stroked-button routerLink="/auth/login" color="primary">
          Login
        </button>
        <button mat-raised-button routerLink="/auth/register" color="primary">
          Register
        </button>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
